/*
Teryn Blacketter
12 April, 2023
*/

body{
    color: #333333;
    font-size: 16pt;
    padding: 30px;
}

a{
    color: darkred;
}

a:hover{
    color: lightcoral;
}

.intro{
    font-size: 24pt;
    color: darkblue;
    padding: 20px 60px;
}

.highlight{
    background-color: lightgoldenrodyellow;
    padding: 5px;
    color: black;
}

.alert{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.alert.blue{
    background: blue;
}