/*********************************************************************
***
*Original Author: Teryn Blacketter                                   
*Date Created: 8/31/2023                                      
*Version: 0.0                                               
*Date Last Modified: 09/03/2023                             
*Modified by: Teryn Blacketter                                         
*Modification log:                                  
***
        Version 0.0 - Created base element tags body, header, footer, main and styled them accordingly. Created the button class styling and interactivity.
        Version 0.1 - Worked on Mobile first developement by having the image swap to fit better on a smaller device(Work in Progress). Added the starBanner ID and made it apper hidden until the script runs.  

******************************************************************** */

/*************************** Mobile ***************************/

body{
    background-image: url(../media/alternatestarmap2.jpg); 
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header{
    background-color: #252629;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
}

main{
    text-align: center;
    color: white;
    margin: 10px;
    background-color: #252629;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    border: solid black;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #252629;
    border-color: black;
    border-style: solid;
}

footer h2{
    text-align: center;
    color: white;
}

nav{
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

nav a{
    display: block;
    margin: .5em;
}

.navLogo{
    align-self: center;
    margin-left: 10px;
}

.button{
    background-color: black; /* Black */
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover{
    background-color: gray;
    cursor: pointer;
}

.progressBar{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}

.ui-progressbar-value.ui-corner-left{
    background-color: black;
}

.datepicker{
    margin-left: 36.5%;
    margin-right: 36.5%;
    margin-top: 20px;
}

/*************************** Tablet ***************************/	
@media screen and (min-width:480px) {

    .button{
        background-color: black; /* Black */
        border: none;
        color: whitesmoke;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 8px;
    }

    h1{
        font-size: 1.3em;
    }
    
    h2 {
        font-size: 1.1em;
    }
    
    h3{
        font-size: .9em;
    }

}

/*************************** Computer - Laptop ***************************/

@media screen and (min-width:800px) {


}

/*************************** Computer - Desktop ***************************/

@media screen and (min-width:1024px) {
    .button{

        background-color: black; /* Black */
        border: none;
        color: whitesmoke;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
    }

    h1{
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3{
        font-size: 1.2em;
    }

}