/*********************************************************************
***
*Original Author: Teryn Blacketter                                   
*Date Created: 10/11/2023                                      
*Version: 0.0                                              
*Date Last Modified: 10/11/2023                             
*Modified by: Teryn Blacketter                                         
*Modification log:                                  
***
        Version 0.0 - Created the file and transfered over all of the main styling from the other css files 

******************************************************************** */

/*************************** Mobile ***************************/

body{
    background-image: url(../media/alternatestarmap2.jpg); 
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header{
    background-color: #252629;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
}

main{
    text-align: center;
    color: white;
    margin: 10px;
    background-color: #252629;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-style: solid;
    border-color: black;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: #252629;
    border-color: black;
    border-style: solid;
}

footer h2{
    text-align: center;
    color: white;
}

nav{
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

nav a{
    display: block;
    margin: .5em;
}

.navLogo{
    align-self: center;
    margin-left: 10px;
}

.button{
    background-color: black; /* Black */
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.button:hover{
    background-color: gray;
    cursor: pointer;
}


/*************************** Tablet ***************************/	
@media screen and (min-width:480px) {

    .button{
        background-color: black; /* Black */
        border: none;
        color: whitesmoke;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 8px;
    }

    h1{
        font-size: 1.3em;
    }
    
    h2 {
        font-size: 1.1em;
    }
    
    h3{
        font-size: .9em;
    }

}

/*************************** Computer - Laptop ***************************/

@media screen and (min-width:800px) {


}

/*************************** Computer - Desktop ***************************/

@media screen and (min-width:1024px) {
    
    .button{
        background-color: black; /* Black */
        border: none;
        color: whitesmoke;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
    }

    h1{
        font-size: 1.8em;
    }
    
    h2 {
        font-size: 1.5em;
    }
    
    h3{
        font-size: 1.2em;
    }

}