/*Teryn Blacketter 19 April, 2023*/
.projects{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.box{
    background-color: rgb(138, 136, 136);
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}
.box img{
    height: 100px;
    width: 200px;
}

div.githublink{
    padding: 5px;
}

div.githublink a{
    text-decoration: none;
}
