
/*Teryn Blacketter April 20, 2023*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
	background-image: url("../images/jewelry.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
	 
#outerwrapper {	
	
	width: 70%;
	border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	margin: auto;
}

main{
	background-image: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: 'Times New Roman', Times, serif;
}

footer{
	font-size: 1em;
	text-align: center;
	padding-bottom: 10px;
}

.addrightmargin{
	margin-right: 10%;
}

nav ul li{
	list-style-type: none;
	font-size: 1.5em;
}

nav{
	clear: both;
}

h1{
	font-size: 4em;
	font-family: 'Pacifico', "Times New Roman", serif;
}

h2{
	font-family: 'Roboto', "Times New Roman", serif;
	font-style: italic;
	font-size: 2em;
}

img{
	float: left;
	border-radius: 50%;
}

