/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'belligerent';
    src: url('../fonts/belligerent-webfont') format('woff'),
         url('../fonts/belligerent-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'belligerent', "Times New Roman", serif;
}