/*Teryn Blacketter 19 April, 2023*/

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.box{
    background-color: rgb(138, 136, 136);
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    padding-bottom: 20px;
}
.box img{
    height: 100px;
    width: 200px;
    margin: 0 15px 15px 15px;
}

table{
    width: 100%;
    font-size: 2em;
    background-color: lightgray;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: "Quicksand", 'Times New Roman', Times;
}

th{
    font-weight: bold;
    border: 2px solid black;
}

tr{
    border: 2px solid black;
}

td{
    border: 2px solid black;
}
