/*Teryn Blacketter 19 April, 2023*/

.outerwrapper{
    width: 70%;
    margin: 0 auto; 
}

body{
    background-color: gray;
    margin: 0;
    width: 100%;
}

.logo{
    padding: 5px;
}

.button{ 
    background: #ed4747;
    border: 2px solid black;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px;
    padding: 10px; 
    text-align: center;
}

nav > *{
    flex: 1;
    justify-content: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
}

.index{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

footer{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer p{
    color: lightgray;
    text-align: center;
    margin-top: 5px;
}

footer p a{
    text-decoration: none;
    color: #f07676;
}

footer p a:hover{
    color: #ed4747;
}

main{
    margin-top: 140px;
    margin-bottom: 140px;
}

main h1{
    font-size: 3em;
}

main h2{
    font-size: 2.5em;
    text-align: center;
}

main p{
    font-size: 2em;
}

main img{
    display: block;
    margin: 0 auto;
}

li{
    font-size: 2.3em;
}

li p{
    font-size: 2em;
}

.button:hover{
    background: #f07676;
    cursor: pointer;
}

.button:focus{
    background-color: lightgray;
}

h1{
    text-align: center;
}

.logo > img{
    width: auto;
    max-width: 150px;
    min-width: 100px;
}