/*Teryn Blacketter 19 April, 2023*/

.outerwrapper{
    width: 70%;
    margin: 0 auto; 
}

body{
    background-color: gray;
    margin: 0;
    width: 100%;
}

.logo{
    padding: 5px;
}

.button{ 
    background: #ed4747;
    border: 2px solid black;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px;
    padding: 10px; 
}

nav > *{
    flex: 1;
    justify-content: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
}

.index{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

footer{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    width: 100%;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
}

main{
    margin-top: 140px;
    margin-bottom: 100px;
}

input{
    background-color: lightgray;
}

textarea{
    background-color: lightgray;
}

.button:hover{
    background: #f07676;
}

h1{
    text-align: center;
}

.logo > img{
    width: 100%;
    max-width: 150px;
    min-width: 100px;
}