/*
Teryn Blacketter
14 April, 2023
*/

body{
	background-color: #B8D1EB;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
}

main{
	background-color: #C5A98B;
	padding: 10px;
}

#outerwrapper {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

#floatleft { 
float: left;
margin: 3%;

}

#floatright {
float: right;
margin: 3%;
}

main, footer { 
clear: both;
}

nav ul{
	list-style-type: none;
}

h1{
	font-family: "Trebuchet MS";
	font-size: 50pt;
}

h2{
	font-family: Tahoma;
	font-weight: normal;
	font-style: italic;
}

main ul{
	list-style-image: url(../images/tomato.png);
}

footer{
	font-size: .75em;
	text-align: center;
	background-color: rgb(185, 132, 101);
	padding-top: 10px;
	padding-bottom: 10px;
}